.App {
  text-align: center;
}

.App-header {
  background-color: #330000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.calculator-container {
  width: 55vh;
  height: 90vh;
  border: 2px solid #ffffff;
}
.display {
  background-color: #ffffff;
  display: flex;
  justify-content: flex-end;
  color: #1a1a1a;
  border: #1a1a1a solid 3px;
  border-radius: 10%;
  width: 100%;
  height: 20%;
}
.controllers-container {
  background-color: #1a1a1a;
  height: 82%;
  width: 100%;
  border-radius: 8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.AC {
  grid-column: 1 / span 2;
}
.equals {
  grid-row: span 2;
}
.button-0 {
  grid-column: span 2;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: #ffffff 2px solid;
  cursor: pointer;
}
.button:hover {
  background-color: #cccccc;
  color: black;
}
